* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
.heading{
    width: 1000px;
    margin:  auto;
    text-align: center;
}
.heading h1{
    font-size: 25px;

}
.heading p{
    font-size: 20px;
}

  .hightlight{
    /* background: radial-gradient(circle at center center, #FFA751 0%, #ffe259 100%); */
    background-color: white;
    font-weight: 100;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .container {
    background-color: #e6e4e4;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
  }
  /* .search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
  } */
  /* .search-wrapper button {
    font-size: 1em;
    background-color: #3d64e6;
    color: #ffffff;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
  } */

  /* .search-wrapper button {
    font-size: 1em;
    background-color: #a8a8a9;
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 8px; 
    box-sizing: border-box;
  }  */


  .search-box{
    display: flex;
    gap:10px;
  }

  .search:focus{
    outline-color: black;
  }

  .search{
    width: 400px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    color: black;
    background-color: #e6e4e4;
  }



  .btn{
    padding: 3px 10px;
    background-color: rgb(76, 75, 75);
    color: white
  }
  .btn:hover{
    background-color:black ;
    color: white;
  }
  .search-wrapper input {
    background-color:#d5d5d5;
    font-size: 1em;
    padding: 0 0.62em;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }
  #result {
    margin-top: 2rem;
  }
  .container .flag-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 2.8em auto 1.2em auto;
  }
  .container h2 {
    font-weight: 400;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
  }
  .data-wrapper {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
  }
  .container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
  }
  .container span {
    color: #5d6274;
  }
  .container h3 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    color: #ff465a;
  }

@media(max-width:580px){
    .heading{
        width: 450px;
       
        text-align: center;
    }
    .heading h1{
        font-size: 22px;
    
    }
    .heading p{
        font-size: 18px;
    }

    .hightlight{
        /* background: radial-gradient(circle at center center, #FFA751 0%, #ffe259 100%); */
       color: white;
        font-weight: 100;
     
  ;
      }

    .container {
        background-color: #d5d5d5;
       
        width: 400px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        border-radius: 0.62em;
        box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
      }
    
    #result {
        margin-top: 2rem;
      }
      .container .flag-img {
        display: block;
        width: 45%;
        min-width: 7.5em;
        margin: 3.8em auto 1.2em auto;
      }
      .container h2 {
        font-weight: 400;
        color: #222a43;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1.8em;
      }
      .data-wrapper {
        margin-bottom: 1em;
        letter-spacing: 0.3px;
      }
      .container h4 {
        display: inline;
        font-weight: 400;
        color: #222a43;
      }
      .container span {
        color: #5d6274;
      }
      .container h3 {
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
        color: #ff465a;
      }
    

      .search-box{
        display: flex;
        gap:10px;
        width: 400px;
        box-sizing: border-box;
      }
    
      /* .search:focus{
        outline-color: black;
      }
     */
      .search{
       
        width: 300px;
        padding-left: 10px;
        color: black;
        background-color:#d5d5d5;
      }
    


    }